* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}



body {
  background: rgb(99,84,58);
  background: radial-gradient(circle, rgba(99,84,58,1) 10%, rgba(47,109,121,1) 100%); 
}

.title{
  font-family: Montserrat, sans-serif;
  color: whitesmoke;
}

.App {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.boxColor {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 250px;
  border-radius: 10px;
  align-self: center;
}

.btn {
  padding: 5px 15px;
  margin: 20px;
  box-shadow: 4px 0px 12px 1px #aaaaaa;
}

.warning {
  font-family: Montserrat, sans-serif;
  align-self: center;
  margin-left: 6%;
  color: white;
  word-wrap:break-word
}

@media only screen and (max-width: 1000px) {
  .boxColor{
    width: 60%;
    height: 200px;
  }
}